* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: rgb(243, 243, 243);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  display: grid;
  align-items: center;
  place-items: center;
  margin-top: 250px;
  margin-right: 75px;
  transform: alpha("");
}

#upperWrap,
#lowerWrap {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  width: 300px;
  font-weight: 700;
}

#upper {
  font-size: 24px;
  text-transform: uppercase;
}

#line {
  width: 300px;
  height: 1px;
  background: white;
}
